@import "variables";

@mixin card-shadow {
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

@mixin card-hover {
  transition: transform $transition-fast, box-shadow $transition-fast;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  }
}
